.child{
    height: 100px;
    width: 100px;
    border: 2px solid red;

}
#container{
    border: 2px solid green;
}
.child1{
    position:relative;
    left:200px;
    top: 100px;
}
.child2{
    position:absolute;
    left:0px;
    right:0px;
}
.child3{
    position:fixed;
    left:400px;
    top: 200px;
}
.child4{
    position:sticky;
  
    top: 0px;
}