.child{
    height: 100px;
    width: 100px;
    border: 2px solid red;

}
#container{
    border: 2px solid green;
    position:relative
}
.child1{
    position:relative;
    left:200px;
    top: 100px;
}
.child2{
    position:absolute;
    left:0px;
    right:0px;
}
.child3{
    position:fixed;
    left:400px;
    top: 200px;
}
.child4{
    position:sticky;
  
    top: 0px;
}
div {
    border: 2px solid blue;
    width: 200px;
    padding: 20px;
}
span {
    border: 2px solid blue;
    width: 200px;/*it does not work on inline elements*/
    padding: 20px;
    display:inline-block;/* it makes inline element to block and block element to inline element*/
}